 @import url("https://use.typekit.net/vxb2dqu.css");
 a{
   text-decoration: none;
   display: block;
   color:#d64161;
 }

 h1{
   color:#4040a1;
 }

 h2{
   font-family:"circe";
   float: left;
   color:green;
 }

 h3{
   margin-top:22.5px;
   font-family:"circe";
   float: left;
   color:#d64161
 }

p {
    display: block;
    font-family: "circe";
    margin-top: 40px;
    margin-bottom: 3em;
    margin-left: 40em;
    margin-right: 3em;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "apercu";
}

.navbar {
  overflow: hidden;
  background-color: beige;
}

.navbar a:hover {
  background: yellow;
  color: black;
}

 .hover01{
 margin-top: 20px;
 margin-left:180px;
 height: 500px;
 width: auto;
 display: inline-block;
 }

 .hover01{
   position:absolute;
   left:-180px;
 }

 .rotated{
    transform: rotate(90deg);
    float: left;
    margin-top:40px;
    margin-left:-30px;
    font-family:"circe";
    font-size:1.5em;
 }

.rotated{
   transform: rotate(90deg);
   float: left;
   margin-top:40px;
   margin-left:-30px;
   font-family:"circe";
   font-size:1.5em;
}

.head{
  margin-top:450px;
}

.containsource {
    position: absolute;
    font-family: "circe";
    bottom:-600px;
    margin-left: 40em;
    margin-right: 3em;
}

/* video */
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-block{
  margin-left: 70px;
  margin-top: -150px;
}

/* header image */
.image.two {
  display: none;
}

.header:hover .image.one {
  border:3px solid black;
  display:none;
}

.header:hover .image.two{
  top:70px;
  width: 100%;
  display:inline-block;
  position: absolute;

}

.header .image.one{
  top:70px;
  width: 100%;
  display: inline-block;
  position: absolute;

}

/* comparison images */
.comparison {
	position: absolute;
	width: 500px;
	height: 400px;
	cursor: ew-resize;
  margin-left:70px;
  margin-top:80px;
}

.image {
	width: 500px;
	height: 400px;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	user-select: none
}

.image.b {
	width: 500px;
  height: 400px;
	border-right: 1px solid black;
	object-position: left;
}

#back{
  font-family: "circe";
  font-size: 100px;
  transform: rotate(180deg);
  float: left;
  margin-left:1000px;
  position: absolute;
  margin-top:50px;
  text-decoration: none;
  color: #4040a1;
}
