p {
    display: block;
    font-family: "circe";
    margin-top: 40px;
    margin-bottom: 3em;
    margin-left: 40em;
    margin-right: 3em;
}


h2,h4{
  font-family:"circe";
  float: left;
}

h4{
  margin-top:22.5px;
}

.head{
  margin-top:500px;
}

#source{
  font-family:"circe";
  font-size:1em;
  margin-top: 50px;
  margin-left:60px;

}
.rotated{
   transform: rotate(90deg);
   float: left;
   margin-top:40px;
   margin-left:-30px;
   font-family:"circe";
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-block{
  margin-left: 70px;
  margin-top: -150px;
}

#list{
  font-family: "circe";
  margin-left:20px;
  margin-top:20px;
}

.image.two {
  display: none;
}

.changeimage:hover .image.one {
  border:3px solid black;
  display:none;
}

.changeimage:hover .image.two{
  display:block;
  width: 1290px;
  height: 500px;
  position: absolute;

}

.changeimage .image.one{
  width: 1290px;
  height: 500px;
  display: block;
  position: absolute;

}

.changeimage{
  display: inline-block;
  margin-top: -10px;
  margin-left:-30px;


}

#back{
  font-family: "EQ TH";
  font-size: 100px;
  transform: rotate(180deg);
  float: left;
  margin-left:1000px;
  position: absolute;
  margin-top:-90px;

}

.comparison {
	position: absolute;
	width: 500px;
	height: 400px;
	cursor: ew-resize;
  margin-left:70px;
  margin-top:80px;
}

.image {
	width: 500px;
	height: 400px;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	user-select: none
}

.image.b {
	width: 500px;
  height: 400px;
	border-right: 1px solid black;
	object-position: left;
}
