p {
    display: block;
    font-family: "circe";
    margin-top: 40px;
    margin-bottom: 3em;
    margin-left: 40em;
    margin-right: 3em;
}


h2,h3{
  font-family:"circe";
  float: left;
}

h3{
  margin-top:22.5px;
}

img{
margin-top: 20px;
margin-left:180px;
height: 500px;
width: auto;
display: inline-block;
}

.rotated{
   transform: rotate(90deg);
   float: left;
   margin-top:40px;
   margin-left:-30px;
   font-family:"circe";
   font-size:1.5em;
}

#source{
  font-family:"circe";
  font-size:1em;
  margin-top: 50px;
  margin-left:60px;

}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-block{
  margin-left: 70px;
  margin-top: -150px;
}

#list{
  font-family: "circe";
  margin-left:20px;
  margin-top:20px;
}


#back{
  font-family: "EQ TH";
  font-size: 100px;
  transform: rotate(180deg);
  float: left;
  margin-left:1000px;
  position: absolute;
  margin-top:-90px;

}
