 @import url("https://use.typekit.net/vxb2dqu.css");
 
p {
    font-family: "circe";
    margin-left: 440px;
    margin-right:30px;

}

h2,h3{
  font-family:"circe";
  float: left;
}

h3{
  margin-top:22.5px;
}

.rotated{
   transform: rotate(90deg);
   float: left;
   margin-top:50px;
   margin-left:-20px;
   font-family:"circe";
   font-size:1.5em;
}

img.header{
  width:1265px;
  height: auto;
  margin-top:-37px;
}

.green{
  margin-top: 20px;
  margin-left:28px;
  display: inline-block;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.green:hover{
  opacity: 1.0;
   filter: alpha(opacity=100); /* For IE8 and earlier */
}

.blue{
  margin-top: 20px;
  margin-left:28px;
  display: inline-block;
}

.yellow{
  margin-top: 20px;
  margin-left:28px;
  display: inline-block;
}


.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-block{
  margin-left: 480px;
}

#source{
  font-family:"circe";
  font-size:1em;
  float: left;
  margin-left:30px;
  margin-top:70px;
}

#list{
  font-family: "circe";
  margin-top:80px;
  float: left;
  margin-left:30px;
}

#back{
  font-family: "EQ TH";
  font-size: 100px;
  transform: rotate(180deg);
  position: absolute;
  float: right;
  margin-top:30px;
  margin-left: 900px;
}

blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 100px;
    margin-right: 100px;
    font-size:1.2em;
    display: inline-block;
    color:purple;
}
