@import url("https://use.typekit.net/vxb2dqu.css");

body {
  height: 100%;
  font-family: sofia-pro-soft, sans-serif;
  font-style: normal;
  font-weight: 500;
}

h1 {
  font-size:6em;
  color: #F9F073;
  text-transform: uppercase;
  margin: 100px;
  text-align: center;
}

.studio{
  font-size:8em;
  color:white;
  text-decoration: none;
  margin-left:340px;
  position: absolute;
  transform: rotate(90deg);
}

.studio:hover{
    transform: rotate(-90deg);
    color:#4040a1;
}

.lab{
  font-size:8em;
  color:white;
  text-decoration: none;
  margin-left:600px;
  margin-top:-80px;
  position: absolute;
  transform: rotate(90deg);
}

.lab:hover{
    transform: rotate(-90deg);
    color:#4040a1;
}
