body {
  height: 100%;
  font-family:"apercu";
}

h1 {
  font-size:6em;
  color: #F9F073;
  text-transform: uppercase;
  margin: 100px;
  text-align: center;
}

img.studio-img{
  display: none
}

a.studio:hover + img.studio-img {
  display: block;
  margin: top;
  width: 20%;
  height: auto;
}

img.lab-img{
  display: none
}

a.lab:hover + img.lab-img {
  display: block;
  margin-left:945px;
  width: 25%;
  height: auto;
}


.studio{
  font-size:8em;
  color:black;
  text-decoration: none;
  margin-left:340px;
  position: absolute;
  transform: rotate(90deg);
}

.lab{
  font-size:8em;
  color:black;
  text-decoration: none;
  margin-left:600px;
  position: absolute;
}
