h1{
  font-size: 10em;
  font-family: "circe";
  text-align: center;
  font-style: italic;
  line-height: 150px;
}

a {
  text-decoration: none;
  font-size: 5em;
  font-family: "circe";
  text-align: center;
  line-height: 2px;
  margin-left: 280px;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
