.container {
  padding: 0px;
  background-color:#374C5A;
  width: 900px;
  height: 900px;
  position: relative;
}

.container-item{
  height: 480px;
  width: 249px;
  background-color: #EBCB63;
  float: left;
  margin-left: 49px;
  margin-top: 41px;
}


.container-item:nth-child(2){
  height: 480px;
  width: 296px;
  background-color: #636263;
  margin-left: 0px;
}

.container-item:nth-child(3){
  height: 296px;
  width: 275px;
  background-color: #EBCB63;
  margin-left: 0px;
}

.container-item:nth-child(4){
  height: 231px;
  width: 171px;
  background-color: #EBCB63;
  margin-left: 104px;
  margin-top: 0px;
}

.container-item:nth-child(5){
  height: 54px;
  width: 820px;
  background-color: #E44A59;
  margin-left: 49px;
  margin-top: 0px;
}

.container-item:nth-child(6){
  height: 54px;
  width: 820px;
  background-color: #E44A59;
  margin-left: 49px;
  margin-top: 0px;
}
