.container {
  padding: 0px;
  background-color:#324D5C;
  width: 900px;
  height: 900px;
  position: relative;
}

.container-item{
  height: 200px;
  width: 200px;
  background-color: #E37B40;
  float: left;
}


.container-item:nth-child(2){
  height: 200px;
  width: 200px;
  background-color: #E37B40;
  margin-left: 200px;
}

.container-item:nth-child(3){
  height: 200px;
  width: 200px;
  background-color: #46B29D;
  margin-left: 200px;
}

.container-item:nth-child(5){
  height: 200px;
  width: 200px;
  background-color: #46B29D;
  margin-left: 400px;
}
.container-item:nth-child(6){
  height: 200px;
  width: 200px;
  background-color: #F53855;
  margin-left: 200px;
}

.half-circle1{
  width: 100px;
  height: 200px;
  background-color: #F53855;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  margin-left: 300px;
}

.half-circle2{
    width: 100px;
    height: 200px;
    background-color: #E37B40;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    margin-left: 300px;
