@import url("https://use.typekit.net/vxb2dqu.css");


/* Extra small devices (phones, 478px and down) */
@media only screen and (max-width: 480px) {

    img{
      width:100%;
    }
    p{
      font-size:13pt;
      width: 90%;
      float:right;
 }

 .body{
   margin-top: 67vw;
 }


    h1{
    display: none;
    }


    h2{
     /* color:green;
     font-family:"circe";
     float: left; */
     position: absolute;
     margin-left: 3vw;
     font-size: 2em;
    }

    h3{
     /* margin-top:1.7vw;
     font-family:"circe";
     float: left;
     color:#d64161; */
     position: absolute;
     margin-left:3.9vw;
     font-size: 1.5em;
    }

    .hover01 figure img{
    /* position: absolute;
    margin-bottom:30vw;
    margin-left:-8.7vw;
    width: auto; */
    margin-top: 10vw;
    }

    #back{
     right:4vw;
     top:480vw;
    }

    .logo{
    position: absolute;
    width:10%;
    right:1220px;
    bottom:673px;

    }

  }

/* top bar */
.navbar a {
 float: left;
 display: block;
 color: black;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 font-family: sofia-pro-soft, sans-serif;
 font-style: normal;
 font-weight: 500;
}

.navbar {
 overflow: hidden;
 background-color:#ffeead;
}

.navbar a:hover {
 background: yellow;
 color: black;
}
/*
bottom bar */
.navbar1 a {
 float: right;
 display: block;
 color: black;
 padding: 50px 16px;
 text-decoration: none;
 font-size: 10px;
 font-family: sofia-pro-soft, sans-serif;
 font-style: normal;
 font-weight: 500;
}

.navbar1 {
 overflow: hidden;
 background-color:#ffeead;
 margin-top:190px;
}

.navbar1 a:hover {
 background: yellow;
 color: black;
}

.header{
width: auto;
background-size:cover;
background-repeat: no-repeat;
background-position: center;
overflow:hidden;
;
}

.header:hover{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
}

.hover01{
position: absolute;
margin-bottom:47vw;
margin-left:-8.7vw;
width: auto;
}

/* Zoom In #1 */
.hover01 figure img {
 -webkit-transform: scale(0.6);
 transform: scale(0.6);
 -webkit-transition: .3s ease-in-out;
 transition: .3s ease-in-out;
}

.hover01 figure:hover img {
 -webkit-transform: scale(0.65);
 transform: scale(0.65);
}

a{
 text-decoration: none;
 display: block;
 color:#d64161;
}

h1{
  transform: rotate(90deg);
  float: left;
  margin-top:5.5vw;
  margin-left:-2vw;
  font-family:"circe";
  font-size:1.5em;
  color:#4040a1;

}

h2{
 color:green;
 font-family:"circe";
 float: left;
}

h3{
 margin-top:1.7vw;
 font-family:"circe";
 float: left;
 color:#d64161;
}

p {
   display: inline-block;
   font-family: "circe";
   margin-left: 50vw;
   margin-right: 3vw;
}

#back{
 font-family: "circe";
 font-size: 80px;
 transform: rotate(180deg);
 position: absolute;
 left:80vw;
 text-decoration: none;
 color:#4040a1;
}
