a{
  text-decoration: none;
}


p {
    display: block;
    font-family: "circe";
    margin-left: 40em;
    margin-right: 3em;
}

h1{
  color:grey;
}

h2,h3{
  font-family:"circe";
  float: left;
}

h2{
  color:green;
}

h3{
  margin-top:22.5px;
}

img{
margin-top: 20px;
margin-left:180px;
height: 500px;
width: auto;
display: inline-block;
}

.rotated{
   transform: rotate(90deg);
   float: left;
   margin-top:40px;
   margin-left:-30px;
   font-family:"circe";
   font-size:1.5em;
}

#source{
  font-family:"circe";
  font-size:1em;
  margin-top: 50px;
  margin-left:60px;

}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-block{
  margin-left: 70px;
  margin-top: -150px;
}

#list{
  font-family: "circe";
  margin-left:20px;
  margin-top:20px;
}


#back{
  font-family: "EQ TH";
  font-size: 100px;
  transform: rotate(180deg);
  float: left;
  margin-left:1000px;
  position: absolute;
  margin-top:-80px;
}



/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}
