p {
    display: block;
}

h1{
  font-family:"apercu";
  text-align: left;
  font-size:2em;
  margin-left: 10px;
  margin-top: 40px;
  font-style: italic;
	letter-spacing: 0;
	color: black;
  position: relative;
  line-height: 0;
  display: inline-block;
}

h1:after {
	content: "GRAPHIC DESIGN";
	position: absolute; left: -2px; top: 1px;
	color: orange;
  font-family:"apercu";
}

h1:hover{
    color:#f7cac9;
}

h2,h3{
  font-family:"circe";
  float: left;
}

h3{
  margin-top:22.5px;
}

.rotated{
   transform: rotate(90deg);
   float: left;
   margin-top:50px;
   margin-left:-20px;
   font-family:"circe";
   font-size:1.5em;
}

a {
  text-decoration: none;
  font-size: 2em;
  font-family: "circe";
  text-align:center;
  line-height: 65px;
  margin-left: 280px;
  color: #5c0a77;
  display:block;
  margin: auto;
}

.bg{
z-index:-1;

background-size:cover;
background-repeat: no-repeat;
background-position: center;
overflow:hidden;
position:fixed;
}

/* DEMO-SPECIFIC STYLES */
a {
  color: white;
  font-family: "circe";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .30em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.note{
  font-family: "apercu";
  color: white;
  font-size: 0.4em;
  margin-left:10px;
}

#container{
  margin-top:50px;
}

#demo{
font-family: "circe";
font-size: 20px;
position:absolute;
right: 10px;
top: 10px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
/*
rotating circle for dragme2 */
#dragme2 .rotating{
    width: 10vw;
    height: 10vw;
    margin-top:-100px;
    margin-left:40px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Blank_vertex_Hexagonal_Icon.svg/2000px-Blank_vertex_Hexagonal_Icon.svg.png);
	background-size: 100% 100%;
	-webkit-animation: rotating 10s linear infinite;
	-moz-animation: rotating 10s linear infinite;
	-ms-animation: rotating 10s linear infinite;
	-o-animation: rotating 10s linear infinite;
	animation: rotating 10s linear infinite;
}


#dragme2 .rotating:hover {
	animation-play-state: paused;
	-webkit-animation-play-state: paused; /* Safari and Chrome */
}

/* adjust "theme" in position */
.draggable .rotating a {
	line-height: 10vw;
	font-size: 1em;
	border: none;
}

/* move cursor */
.rotating {
	cursor: move;
	display: block;
}


/*
actual rotating function */
@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotating-rev /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
@keyframes rotating-rev {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
/*
responsive */
@media screen and (max-width: 1150px) {
	#dragme2 {
		display: none;
	}
}


#fixed-div {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
}

@media screen and (max-width: 770px) {
	#fixed-div {
		display: none;
	}
